@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --primary: #F7971E;
  --secondary: #FFD200;
  --text: #ffffff;
  --section-underline-width: 40px;
  --section-padding-top: 4rem;
  --section-padding-bottom: 3rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #F7971E;
    --secondary: #FFD200;
    --text: #ffffff;
    --section-underline-width: 40px;
  }
}

html, body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  scroll-padding-top: calc(72px);
}

.link {
  transition: color 0.3s ease;
}

.link:hover {
  color: var(--primary); 
}

.fade-in-text {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {opacity: 0.1;}
  100% {opacity: 1;}
}


.hero {
  height: 100vh;
  z-index: 1;
  position: relative;
}

.hero::before {
  --s: 256px; /* control the size*/
  --c1: #f2f2f2;
  --c2: #cdcbcc;
  --c3: #999999;
  
  --_g: 0 120deg,#0000 0;
  background:
    conic-gradient(from    0deg at calc(500%/6) calc(100%/3),var(--c3) var(--_g)),
    conic-gradient(from -120deg at calc(100%/6) calc(100%/3),var(--c2) var(--_g)),
    conic-gradient(from  120deg at calc(100%/3) calc(500%/6),var(--c1) var(--_g)),
    conic-gradient(from  120deg at calc(200%/3) calc(500%/6),var(--c1) var(--_g)),
    conic-gradient(from -180deg at calc(100%/3) 50%,var(--c2)  60deg,var(--c1) var(--_g)),
    conic-gradient(from   60deg at calc(200%/3) 50%,var(--c1)  60deg,var(--c3) var(--_g)),
    conic-gradient(from  -60deg at 50% calc(100%/3),var(--c1) 120deg,var(--c2) 0 240deg,var(--c3) 0);
  background-size: calc(var(--s)*1.732) var(--s);

  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  opacity: 0.1;
  z-index: -1;
}
/* 
.headshot {
  width: 550px;
  height: 550px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  border-radius: 20%;
  background-image: url('../public/selfie.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
} */

.title {
  font-size: 3rem; /* 48px */
  line-height: 1;
  padding-bottom: 1.5rem;
  position: relative;
  color: black;
}

.title::after {
  position: absolute;
  content: "";
  width: var(--section-underline-width);
  height: 5px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2.5px;
  background-color: var(--primary);
}

.social-item > a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
  /* margin-right: 8px; */
}

.section {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
}

.introduction > table > tbody > tr > th {
  @apply text-left align-top pr-4 pb-2;
}

.introduction > table > tbody > tr > td {
  @apply text-left align-top;
}



.introduction > table {
  border-spacing: 1rem;
}

.gold {
  background: #FDC830;
  background: repeating-linear-gradient(to right, #FDC830 0%, #F37335 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gold:hover {
  background: #FDC830;
  background: repeating-linear-gradient(to right, #FDC830 0%, #F37335 100%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 1s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

img.framed {
  box-shadow:
    -50px -50px 0 -40px var(--primary),
    50px 50px 0 -40px var(--primary);
}